@use "./config.scss" as config;
@use "./mixins.scss" as mixins;

:root {
	display: flex;
	flex-direction: column;
	font-family: "Inter Tight";
	min-height: 100%;
	--container-save-space: 32px;
	@media (max-width: config.$mbpMM) {
		--container-save-space: 16px;
	}
}
.btn {
	display: inline-grid;
	grid-auto-flow: column;
	align-items: center;
	gap: var(--gap, 10px);
	white-space: nowrap;
	transition: color 0.3s, background-color 0.3s, transform 0.3s, opacity 0.3s, box-shadow 0.3s, border-color 0.3s;
	color: var(--color, black);
	background-color: var(--bg-color, transparent);
	cursor: pointer;
	text-align: center;
	padding: var(--padding, 12px 24px);
	&_icon &__label {
		position: absolute;
		font-size: 0;
	}
	&_icon {
		--padding: 0;
	}
	&_primary {
		--color: #FFF;
		--bg-color: #8F33FF;
		--hover-bg-color: #8f33ffe0;
	}
	&_market {
		border-radius: 6px;
		overflow: hidden;
		padding: 0;
		width: 180px;
		height: 52px;
	}
	&_market &__bg {
		position: relative;
		left: -1%;
		top: -1%;
		width: 102%;
		height: 102%;
		object-fit: cover;
		--hover-opacity: 0.6;
	}
	&_market {
		border: 1px solid transparent;
		--hover-border-color: white;
	}
	@media (any-hover: hover) {
		&:hover {
			color: var(--hover-color, var(--color));
			background-color: var(--hover-bg-color, var(--bg-color, transparent));
			transform: var(--hover-transform, none);
			opacity: var(--hover-opacity, 1);
			box-shadow: 5px 5px 15px 0px var(--hover-shadow-color, transparent);
			border-color: var(--hover-border-color, var(--border-color, transparent));
		}
	}
	&:disabled {
		opacity: 0.6;
	}
}
.text-link {
	color: var(--color);
	transition: color 0.3s, background-color 0.3s, opacity 0.3s;
	@media (any-hover: hover) {
		&:hover {
			color: var(--hover-color, var(--color, rgba(0, 0, 0, 0.65)));
			transform: var(--hover-transform, none);
			opacity: var(--hover-opacity, 1);
		}
	}
}
.uppercase {
	text-transform: uppercase;
}
.logo {
	transition: opacity 0.3s;
	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.6;
		}
	}
}
// .breadcrumbs {
// 	display: inline-flex;
// 	flex-wrap: wrap;
// 	gap: 10px;
// 	align-content: center;
// 	&__separator {
// 		color: #8E8C90;
// 	}
// 	&__item {
// 		--color: #8E8C90;
// 		&_active {
// 			color: #1E1E1E;
// 		}
// 	}
// }
.drawers {
	position: relative;
	z-index: 10000;
}
.drawer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: var(--z-index);
	overflow: hidden;
	&:not(#{&}_modal) {
		pointer-events: none;
	}
	&__panel {
		position: absolute;
		right: 100%;
		bottom: 0;
		height: 100%;
		transition: transform 0.3s;
		pointer-events: all;
		overflow: auto;
	}
	&_open &__panel {
		transform: translateX(100%);
	}
	&__header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	&__title {
		color: #222222;
		font-size: 20px;
		font-weight: 600;
		line-height: 22px;
		text-transform: uppercase;
	}
	&__close-btn {
		--color: white;
		--bg-color: #222222;
		--hover-bg-color: #222222c5;
		width: 40px;
		height: 40px;
		font-size: 14px;
	}
}
.cm-checkbox {
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
	font-size: var(--size, 18px);
	width: 1em;
	height: 1em;
	&__body {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #131313;
		border-radius: 1px;
	}
	&__arrow {
		font-size: 0.5em;
		opacity: 0;
		transition: opacity 0.3s;
	}
	&__input:checked ~ &__body &__arrow {
		opacity: 1;
	}
	&__input {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}
.img-wrap {
	display: flex;
	// &_lazy:not(._loaded) &__inner::after {
	// 	@include spinner;
	// }
	&__inner {
		flex: 1 1 auto;
		position: relative;
		left: 0;
		top: 0;
		padding-top: var(--height-ratio, 50%);
		//transform: scale(calc(100% + var(--zoom-in, 0%)));
		transition: transform 0.4s;
	}
	& img, &__item {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%!important;
		object-fit: contain;
		max-width: initial!important;
	}
	&_cut img, &_cut &__item {
		left: -0.5%;
		top: -0.5%;
		width: 101%;
		height: 101%;
	}
	&_top-left img, &_top-left &__item {
		object-position: top left;
	}
	&_cover img, &_cover &__item {
		object-fit: cover;
	}
}
.disclosure {
	&__body {
		height: 0;
		overflow: hidden;
		transition: height 0.3s;
	}
	&._open > &__body {
		height: var(--inner-height);
	}

	&_vacancy-card {
		background-color: #FFFFFF;
		border: 1px solid #E0E3EC;
		border-radius: 10px;
		padding: 24px 18px;
	}
	&__header {
		cursor: pointer;
	}
	&_vacancy-card &__header {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}
	&__title {
		font-family: Raleway;
		font-size: 32px;
		font-weight: 800;
		line-height: 1.1;
		letter-spacing: 0.01em;
	}
	&_vacancy-card &__inner {
		padding-top: 24px;
	}
	&_vacancy-card  &__icon {
		display: grid;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		&::before, &::after {
			content: "";
			grid-column: 1/span 1;
			grid-row: 1/span 1;
			display: inline-block;
			width: 14px;
			height: 2px;
			border-radius: 2px;
			background-color: currentColor;
			transition: transform 0.3s;
		}
		&::before {
			transform: rotate(90deg);
		}
	}
	&_vacancy-card._open &__icon::before {
		transform: rotate(0);
	}
}
section {
	background-color: white;
}
