@use "./config.scss" as config;

.header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: calc(100% - var(--scroll-width, 0px));
	padding: 13px 0;
	background-clip: padding-box;
	border: 2px solid transparent;
	transition: background-color 0.3s;
	html._scrolled &:not(.drawer_open) {
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		background-color: #FFFFFF1A;
	}
	@media (max-width: config.$mbpT) {
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}
	@media (max-width: config.$mbpT) {
		background-color: #FFFFFF1A;
		border-color: #FFFFFF66;
		border-radius: 0 0 24px 24px;
		padding: 12px 0;
		box-shadow: 0px 8px 100px 0px #00000014;
		&.drawer_open {
			--color: #312929;
			background-color: white;
			border-color: white;
		}
	}
	&__container {
		display: grid;
		grid-template-columns: repeat(3, auto);
		justify-content: space-between;
		align-content: start;
		align-items: center;
		gap: 30px;
		@media (max-width: config.$mbpT) {
			grid-template-columns: 1fr auto auto;
			gap: 0 8px;
		}
	}
	&__logo {
		width: 193px;
		height: 32px;
		transition: filter 0.3s;
		@media (max-width: config.$mbpM) {
			width: 162px;
			height: 28px;
		}
	}
	html._dark-header &__logo, html._dark-header-always &__logo {
		filter: invert(1);
	}
	@media (max-width: config.$mbpT) {
		&.drawer_open &__logo {
			filter: invert(0.8);
		}
	}
	&__menu-btn {
		color: #FFF;
		margin: 0 -12px 0 0;
		html._dark-header &, html._dark-header-always & {
			color: black;
		}
		@media (min-width: (config.$mbpT + 1px)) {
			position: absolute;
			visibility: hidden;
		}
	}
	&__nav {
		@media (max-width: config.$mbpT) {
			grid-row: 2/span 1;
			grid-column: 1/span 3;
			margin: 0 calc(var(--container-save-space) * -1);
		}
	}
	&__cta-btn {
		justify-self: end;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.5;
		height: 48px;
		border-radius: 60px;
		@media (max-width: 420px) {
			display: none;
		}
	}
}

.burger-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	transition: none;
	&__inner {
		position: relative;
		display: inline-grid;
		gap: 4px;
		width: 18px;
		@media (max-width: config.$mbpM) {
			gap: 3px;
			width: 14px;
		}
		& > span {
			display: block;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background-color: var(--color, currentColor);
			transition: transform 0.4s;
			&:nth-child(2) {
				transition-delay: 0.2s, 0s;
			}
			&:last-child {
  			transition-delay: 0.1s;
			}
		}
	}
	.drawer-trigger_active &__inner {
		& > span {
			&:first-child {
				transform: translateY(3px) rotate(135deg);
				@media (max-width: config.$mbpM) {
					transform: translateY(2.5px) rotate(135deg);
				}
			}
			&:nth-child(2) {
				transform: translateY(-3px) rotate(-135deg);
				@media (max-width: config.$mbpM) {
					transform: translateY(-2.5px) rotate(-135deg);
				}
			}
			&:last-child {
				opacity: 0;
				transform: rotate(180deg);
			}
		}
	}
}

.header-nav {
	.drawer_open & {
		height: var(--inner-height);
	}
	@media (max-width: config.$mbpT) {
		height: 0;
		overflow: hidden;
		transition: height 0.3s;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 32px 30px;
		padding: 11px 39px;
		background-color: #FFFFFF1A;
		border: 1px solid #FFFFFF66;
		border-radius: 20px;
		@media (min-width: (config.$mbpT + 1px)) {
			backdrop-filter: blur(10px);
		}
		@media (max-width: config.$mbpT) {
			gap: 0px;
			background-color: transparent;
			border: none;
			flex-direction: column;
			padding: 32px 0 20px;
		}
	}
	&__item {

	}

	@media (max-width: config.$mbpT) {
		.drawer_open &__link._active {
			background-color: #F3F1FD;
		}
	}
	&__link {
		display: block;
		--color: #FFFFFFCC;
		--hover-color: #FFF;
		--active-color: #FFF;
		font-family: Poppins;
		font-size: 16px;
		line-height: 1.5;
		@media (max-width: config.$mbpT) {
			--color: #312929;
			--hover-color: #8F33FF;
			--active-color: #8F33FF;
			transition: background-color 0.3s;
			background-color: transparent;
			padding: 18px var(--container-save-space);
		}
	}
	&__link._active {
		--color: #FFF;
		--active-color: #FFF;
		@media (max-width: config.$mbpT) {
			--color: #8F33FF;
		}
	}
	html._dark-header &__link, html._dark-header-always &__link {
		--color: #312929;
		--hover-color: #8F33FF;
		--active-color: #8F33FF;
		&._active {
			--color: #8F33FF;
			--active-color: #8F33FF;
		}
	}

}
