---
import ImgWrap from 'src/components/basic/ImgWrap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="InGames" description="InGames website">
	<div id="hero" class="hero">
		<ImgWrap className='hero__bg' cover>
			<img src="img/hero-bg.webp" alt="InGames" class="hero__bg-image">
		</ImgWrap>
		<div class="hero__underlay"></div>
		<div class="container hero__container">
			<h1 class="hero__title">
				In Games
			</h1>

			<div id="hero-msg" class="hero__msg hero-msg">
				<div class="hero-msg__inner">
					<span class="hero-msg__text hero-msg__text_are">
						are
					</span>
					<div class="hero-msg__seo-part">you</div>
					<svg class="hero-msg__img" viewBox="0 0 336.435 141.59" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<path class="hero-msg__head" d="M163.55 9.92C163.55 12.9 164.1 16.14 165.81 18.58C165.92 18.74 166.02 18.89 166.12 19.05C166.43 19.51 166.72 20.03 167 20.62C168.77 24.38 171.72 27.89 175.76 28.89C200.97 35.09 220.09 58.01 219.29 85.92C219.29 87.97 218.22 96.28 196.65 95C195.91 94.96 195.24 95.5 195.16 96.25C195.16 96.31 195.16 96.38 195.15 96.45L195.15 96.45C195.14 96.52 195.14 96.58 195.14 96.65L195.14 96.87C195.03 99.53 190.47 99.53 190.14 99.53L190.11 99.53C189.92 99.53 188.35 99.48 186.91 98.96C186.69 98.87 186.45 98.8 186.22 98.74L186.22 98.74C186.17 98.72 186.12 98.71 186.07 98.69C184.71 98.31 183.51 97.96 183.76 95.27L183.92 93.91C183.95 93.68 183.8 93.46 183.57 93.43C183.46 93.41 183.34 93.39 183.21 93.36C173.65 91.68 167.55 90 161.51 86.76C160.34 86.13 158.87 86.46 158.14 87.57C158.06 87.68 158.01 87.79 157.95 87.93C157.94 87.96 157.92 87.99 157.9 88.02C157.88 88.06 157.86 88.09 157.84 88.12C156.55 90.34 152.69 88.37 152.22 88.13L152.2 88.12C152.2 88.12 152.2 88.12 152.19 88.12C152.17 88.11 152.16 88.09 152.14 88.08C151.89 87.94 150.6 87.17 149.61 86.08C149.42 85.86 149.21 85.64 148.99 85.45C147.96 84.48 147.09 83.61 148.58 81.35C149.5 80.01 149.25 78.19 148.06 77.08C147.05 76.14 146.1 75.2 145.21 74.27C141.1 69.97 133.89 70.82 133.73 76.76C133.64 80.36 134.14 84.41 135.84 88.53C139.56 98.17 145.91 104.45 153.13 108.34C154.9 109.3 157.06 108.44 157.87 106.59C157.94 106.42 158 106.24 158.09 106.07C158.27 105.77 158.7 105.32 159.61 105.35C160.77 105.4 165.36 107.01 166.67 107.48C166.91 107.57 167.14 107.66 167.36 107.78C167.84 108.05 168.68 108.61 168.63 109.13C168.38 111.31 169.38 113.47 171.57 113.66C176.73 114.13 181.62 113.83 185.63 113.1C192.48 111.85 196.85 110.62 202.28 108.61L212.53 103.74C212.94 103.55 213.36 103.36 213.82 103.31C215.61 103.14 215.66 104.88 215.32 105.73C205.65 129.38 183.7 141.59 162.05 141.59C130.44 141.59 104.82 115.98 104.82 84.39C104.82 52.81 130.44 27.23 162.05 27.23C164.28 27.23 166.17 25.38 165.48 23.27C165.1 22.1 164.62 21.1 164.13 20.36L164.12 20.35L164.11 20.34C162.61 17.97 159.24 18.48 156.57 19.34C155.56 19.66 154.48 19.84 153.36 19.84C147.74 19.84 143.17 15.41 143.17 9.92C143.17 4.43 147.74 0 153.36 0C158.98 0 163.55 4.43 163.55 9.92ZM174.49 38.49C162.62 38.49 153.01 48.18 153.01 60.12C153.01 72.06 162.62 81.76 174.49 81.76C186.37 81.76 195.98 72.06 195.98 60.12C195.98 48.18 186.37 38.49 174.49 38.49Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="evenodd"/>
						<path class="hero-msg__eye" d="M163.01 51.42C161.63 51.42 160.08 49.79 160.94 48.72C164.23 44.66 169.23 42.07 174.82 42.07C184.7 42.07 192.72 50.14 192.72 60.12C192.72 70.1 184.7 78.17 174.82 78.17C168.73 78.17 163.35 75.1 160.11 70.41C159.16 69.03 161.33 67.19 163.01 67.19C167.35 67.19 170.88 63.65 170.88 59.31C170.88 58.49 169.33 58.35 168.61 58.71C168.19 58.92 167.72 59.03 167.22 59.03C165.48 59.03 164.09 57.65 164.09 55.91C164.09 54.17 165.48 52.78 167.22 52.78C167.28 52.78 167.31 52.7 167.25 52.66C166.01 51.87 164.56 51.42 163.01 51.42Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="nonzero"/>
						<path class="hero-msg__y" d="M34.87 29.31L50.31 64.56C51.77 67.89 56.48 67.91 57.97 64.59L73.8 29.27C74.47 27.77 75.97 26.8 77.62 26.8L101.97 26.8C105.11 26.8 107.13 30.12 105.69 32.91L70.09 101.93C69.79 102.52 69.63 103.18 69.63 103.85L69.63 136.26C69.63 138.58 67.75 140.45 65.44 140.45L42.76 140.45C40.45 140.45 38.57 138.58 38.57 136.26L38.57 103.52C38.57 102.86 38.42 102.21 38.12 101.62L3.1 32.89C1.68 30.1 3.7 26.8 6.83 26.8L31.03 26.8C32.7 26.8 34.2 27.78 34.87 29.31Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="nonzero"/>
						<path class="hero-msg__u" d="M285.48 140.45C276.48 140.45 268.76 138.97 262.3 136.01C255.85 133.05 250.55 128.97 246.43 123.79C242.41 118.6 239.44 112.68 237.54 106.01C235.63 99.24 234.68 92.15 234.68 84.74L234.68 30.99C234.68 28.67 236.56 26.8 238.87 26.8L261.45 26.8C263.76 26.8 265.63 28.67 265.63 30.99L265.63 84.74C265.63 88.44 266 91.99 266.75 95.37C267.49 98.76 268.65 101.78 270.24 104.42C271.82 107.07 273.84 109.18 276.27 110.77C278.81 112.25 281.88 112.99 285.48 112.99C289.18 112.99 292.3 112.25 294.84 110.77C297.38 109.18 299.39 107.07 300.87 104.42C302.46 101.67 303.63 98.6 304.37 95.21C305.11 91.83 305.48 88.34 305.48 84.74L305.48 30.99C305.48 28.67 307.35 26.8 309.67 26.8L332.24 26.8C334.56 26.8 336.43 28.67 336.43 30.99L336.43 84.74C336.43 92.57 335.37 99.87 333.26 106.64C331.25 113.42 328.18 119.34 324.05 124.42C319.92 129.5 314.63 133.47 308.18 136.33C301.83 139.08 294.26 140.45 285.48 140.45Z" fill="#FFFFFF" fill-opacity="1.000000" fill-rule="nonzero"/>
					</svg>
					<span class="hero-msg__text hero-msg__text_in">
						in?
					</span>
				</div>
			</div>
			<div class="hero__about">End-to-end game development, design, creation, and monetization</div>
			<div class="hero__decorations">
				<img src="img/cube-decor-red.webp" alt="" class="hero__decor hero__decor_red">
				<img src="img/cube-decor-blue.webp" alt="" class="hero__decor hero__decor_blue">
				<img src="img/cube-decor-green.webp" alt="" class="hero__decor hero__decor_green">
				<img src="img/cube-decor-orange.webp" alt="" class="hero__decor hero__decor_orange">
			</div>
			<div class="hero__all-heros all-heros">
				<img src="img/cubes.webp" alt="" class="all-heros__main">
				<svg class="all-heros__eyes"viewBox="0 0 115 55" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M114.736 32.9453C114.736 44.8397 105.462 54.4819 94.0212 54.4819C82.5807 54.4819 73.3064 44.8397 73.3064 32.9453C73.3064 21.051 82.5807 11.4087 94.0212 11.4087C105.462 11.4087 114.736 21.051 114.736 32.9453Z" fill="url(#paint0_linear_6049_557)"/>
					<path d="M102.895 24.7142C102.895 29.3959 99.0146 33.1911 94.2279 33.1911C89.4413 33.1911 85.5609 29.3959 85.5609 24.7142C85.5609 20.0325 89.4413 16.2373 94.2279 16.2373C99.0146 16.2373 102.895 20.0325 102.895 24.7142Z" fill="#171630"/>
					<path d="M94.6761 21.5718C94.6761 22.8231 93.6391 23.8374 92.3597 23.8374C91.0804 23.8374 90.0433 22.8231 90.0433 21.5718C90.0433 20.3205 91.0804 19.3062 92.3597 19.3062C93.6391 19.3062 94.6761 20.3205 94.6761 21.5718Z" fill="#D9D9D9"/>
					<path d="M42.0075 21.5898C42.0075 33.5133 32.7104 43.1792 21.2419 43.1792C9.77338 43.1792 0.476318 33.5133 0.476318 21.5898C0.476318 9.66637 9.77338 0.000488281 21.2419 0.000488281C32.7104 0.000488281 42.0075 9.66637 42.0075 21.5898Z" fill="url(#paint1_linear_6049_557)"/>
					<path d="M30.1737 12.6769C30.1737 17.37 26.2838 21.1745 21.4855 21.1745C16.6871 21.1745 12.7972 17.37 12.7972 12.6769C12.7972 7.98374 16.6871 4.1792 21.4855 4.1792C26.2838 4.1792 30.1737 7.98374 30.1737 12.6769Z" fill="#171630"/>
					<path d="M21.9348 9.5272C21.9348 10.7815 20.8952 11.7984 19.6127 11.7984C18.3303 11.7984 17.2906 10.7815 17.2906 9.5272C17.2906 8.27288 18.3303 7.25605 19.6127 7.25605C20.8952 7.25605 21.9348 8.27288 21.9348 9.5272Z" fill="#D9D9D9"/>
					<defs>
					<linearGradient id="paint0_linear_6049_557" x1="78.5265" y1="25.4475" x2="116.1" y2="42.0063" gradientUnits="userSpaceOnUse">
					<stop stop-color="#FFFEFE"/>
					<stop offset="1" stop-color="#EBD9DC"/>
					</linearGradient>
					<linearGradient id="paint1_linear_6049_557" x1="5.70919" y1="14.0737" x2="43.3751" y2="30.673" gradientUnits="userSpaceOnUse">
					<stop stop-color="#FFFEFE"/>
					<stop offset="1" stop-color="#EBD9DC"/>
					</linearGradient>
					</defs>
				</svg>
			</div>
		</div>
		<div class="hero__bottom-decor-wrap">
			<ImgWrap className="hero__bottom-decor">
				<img src="img/hero-bottom-decor.svg"></img>
			</ImgWrap>
		</div>
	</div>
</Layout>
<style>
	.text-link {
		color: red;
	}
</style>