---

---

<header id="header" class="header" data-drawer="main-menu">
	<div class="header__inner" data-elem="drawer.panel">
		<div class="container header__container">
			<a href="/" class="header__logo logo">
				<img src="img/logo.svg" alt="InGames" class="logo__image">
			</a>
			<!-- Desktop navigation -->
			<div class="header__nav" data-component=":disclosure:">
				<nav class="header-nav">
					<ul class="header-nav__list" data-elem="disclosure.inner">
						<li class="header-nav__item header-nav__item_active">
							<a href="/" class="text-link header-nav__link">Home</a>
						</li>
						<li class="header-nav__item">
							<a href="#about" class="text-link header-nav__link">About</a>
						</li>
						<li class="header-nav__item">
							<a href="#apps" class="text-link header-nav__link">Apps</a>
						</li>
						<li class="header-nav__item">
							<a href="#philosophy" class="text-link header-nav__link">Philosophy</a>
						</li>
						<li class="header-nav__item">
							<a href="#team" class="text-link header-nav__link">Team</a>
						</li>
						<li class="header-nav__item">
							<a href="#career" class="text-link header-nav__link">Career</a>
						</li>
					</ul>
				</nav>
			</div>
			<a href="#contact" class="btn btn_primary header__cta-btn">Contact us</a>

			<!-- Mobile menu button -->
			<button type="button" class="header__menu-btn burger-btn" aria-label="Toggle menu" data-drawer-toggle="main-menu">
				<span class="burger-btn__inner">
					<span></span><span></span><span></span>
				</span>
			</button>
		</div>
	</div>
</header>